<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/agencia']">Agência</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dadropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clientes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/clientes']" routerLinkActive="active">Listar Clientes</a></li>
              <li><a class="dropdown-item" [routerLink]="['clientes/cadastrar']" routerLinkActive="active">Cadastrar Cliente</a></li>
            </ul>  
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dadropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/contas']" routerLinkActive="active">Listar Contas</a></li>
              <li><a class="dropdown-item" [routerLink]="['contas/cadastrar']" routerLinkActive="active">Cadastrar Conta</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>